@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0%, 100%
}

:root {
  --foreground: lightgray;

  --card: white;
  --card-foreground: lightgray;

  --popover: white;
  --popover-foreground: lightgray;

  --primary: rgb(60, 199, 60);
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: #e5e7eb;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;

  --radius: 0.5rem;
}

.side-panel {
  @apply backdrop-blur-xl border-r border-gray-200;
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 100%),
    hsla(0, 20%, 94%, 0.677)
  );
}

.badge {
  @apply bg-gradient-to-br from-white to-white/90 border py-1 border-gray-200 text-neutral-700 hover:bg-white hover:shadow-md cursor-default
}

.card {
  @apply bg-white border-gray-200 mb-4 hover:shadow-md
}

/* Rest of the CSS remains unchanged */
